doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title V3 dahsboard
    // BOOTSTRAP
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    script(async='', src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    script(async='', src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(async='', src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    // FONTAWESOME
    script(src='https://kit.fontawesome.com/3d3ae9b37d.js', crossorigin='anonymous')
    // GOOGLE FONT
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
    // STYLESHEET
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
  body
    nav.navbar.navbar-expand-md.navbar-light
      button.navbar-toggler.ml-auto.mb-2.bg-light(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.navbar-toggler-icon
      #myNavbar.collapse.navbar-collapse
        .container-fluid
          .row
            // sidebar
            .col-lg-3.col-xl-2.col-md-4.sidebar.fixed-top
              a.navbar-brand.text-white.d-block.mx-auto.text-center.py-3.mb-4.bottom-border(href='') Value
                sup 3
              .bottom-border.pb-3
                //- img.rounded-circle.mr-3(src='https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260', alt='Image on Profile dashboard', width='50', height='50')
                h3.text-white #{name}
                a.text-white(href='#') #{mail}
              ul.navbar-nav.flex-column.mt-4
                li.nav-item
                  a.nav-link.text-white.p-3.mb-2.current(href='#')
                    i.fa.fa-home.text-light.fa-lg.mr-2
                    | Dashboard
                li.nav-item
                  a.nav-link.text-white.p-3.mb-2.sidebar-link(href='#')
                    i.fa.fa-user.text-light.fa-lg.mr-2
                    | Profile Settings (WIP)
                li.nav-item
                  a.nav-link.text-white.p-3.mb-2.sidebar-link(href='#')
                    i.fa.fa-envelope.text-light.fa-lg.mr-2
                    | Inbox (WIP)
            // end of sidebar
            // topNav
            .col-lg-9.col-xl-10.col-md-8.ml-auto.bg-dark.fixed-top.py-2.top-navbar
              .row.align-item-center
                .col-md-8
                  h4.text-light.text-uppercase.mt-1 #{name} - Dashboard
                
                .col-md-4#logoutNav(style="position:absolute; right:0;" )
                  ul.navbar-nav
                    ul.nav-item.ml-md-auto.icon-parent
                      a.nav-link.icon-bullet.text-white(href='logout')
                        i.fas.fa-sign-out-alt.fa-lg.text-danger
                          span.text-danger Logout


    section
      .container-fluid
        .row
          .col-lg-9.col-md-8.ml-auto
            .row.pt-5.mt-3.mb-5
              .col-lg-1
              .col-sm-12.col-md-12.col-lg-10.pd-2
                .col-md-5.mb-5
                    form(action='#' id="stock-form")
                      .input-group
                        input.form-control.search-input.text-dark(type='text',id="stock-input" placeholder='Search Stock Symbol. . .')
                        button.btn.btn-info(type='submit')
                          i.fas.fa-search.text-danger.search-button
                .card
                  .card-body
                    i.fas.fa-chart-bar.fa-2x.text-info.mb-3  Stock Information (Live with basic information)
                    p#stockInformation
                    .text-left.text-secondary
                      p#formatted-address
                      p#address-components
              .col-lg-1

    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script.
      //CODE START FOR STOCKS
       var stockForm = document.getElementById('stock-form');
      // listen for submit
      stockForm.addEventListener('submit', stockInfo)

      function stockInfo(e){
        // prevent actual submit
        e.preventDefault();
        let ticker = document.getElementById('stock-input').value;
        // let location = '70 bradstone sq scarborough';
        let stockInformationOutput = document.getElementById('stockInformation');
        stockInformationOutput.innerHTML = "Loading Information"

        axios({
          "method":"GET",
          "url":"https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/get-detail",
          "headers":{
          "content-type":"application/octet-stream",
          "x-rapidapi-host":"apidojo-yahoo-finance-v1.p.rapidapi.com",
          "x-rapidapi-key":"2e0f4c1489mshd0a4382ec92e089p14e41bjsnef78ff4ef206"
          },"params":{
          "region":"US",
          "lang":"en",
          "symbol":ticker
          }
          })
          .then((response)=>{
            console.log(response);

            stockInformationOutput.innerHTML = `
            <ul class = "list-group">
              <li class = "list-group-item">Business Name: ${response.data.price.shortName}</li>
              <li class = "list-group-item">Stock Symbol: ${response.data.symbol}</li>
              <li class = "list-group-item">Current Stock Price: ${response.data.financialData.currentPrice.raw}</li>
              <li class = "list-group-item">Total Cash: ${response.data.financialData.totalCash.fmt}</li>
              <li class = "list-group-item">Total Debt: ${response.data.financialData.totalDebt.fmt}</li>
              <li class = "list-group-item">Company Website:: ${response.data.summaryProfile.website}</li>
            </ul>
            `
          })
          
          .catch((error)=>{
            console.log(error)
             stockInformationOutput.innerHTML = `
            <h3 class="text-warning">${ticker} is not a valid stock symbol</h3>
            `
          })

      }