doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title V3 dahsboard
    // BOOTSTRAP
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    script(async='', src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    script(async='', src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(async='', src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    // FONTAWESOME
    script(src='https://kit.fontawesome.com/3d3ae9b37d.js', crossorigin='anonymous')
    // GOOGLE FONT
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
    // STYLESHEET
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
  body
    nav.navbar.navbar-expand-md.navbar-light
      button.navbar-toggler.ml-auto.mb-2.bg-light(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.navbar-toggler-icon
      #myNavbar.collapse.navbar-collapse
        .container-fluid
          .row
            // sidebar
            .col-lg-3.col-xl-2.col-md-4.sidebar.fixed-top
              a.navbar-brand.text-white.d-block.mx-auto.text-center.py-3.mb-4.bottom-border(href='') Value
                sup 3
              .bottom-border.pb-3
                //- img.rounded-circle.mr-3(src='https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260', alt='Image on Profile dashboard', width='50', height='50')
                h3.text-white #{name}
                a.text-white(href='#') #{mail}
              ul.navbar-nav.flex-column.mt-4
                li.nav-item
                  a.nav-link.text-white.p-3.mb-2.current(href='#')
                    i.fa.fa-home.text-light.fa-lg.mr-2
                    | Dashboard
                li.nav-item
                  a.nav-link.text-white.p-3.mb-2.sidebar-link(href='#')
                    i.fa.fa-user.text-light.fa-lg.mr-2
                    | Profile Settings (WIP)
                li.nav-item
                  a.nav-link.text-white.p-3.mb-2.sidebar-link(href='#')
                    i.fa.fa-envelope.text-light.fa-lg.mr-2
                    | Inbox (WIP)
            // end of sidebar
            // topNav
            .col-lg-9.col-xl-10.col-md-8.ml-auto.bg-dark.fixed-top.py-2.top-navbar
              .row.align-item-center
                .col-md-4
                  h4.text-light.text-uppercase.mt-1 #{name} - Dashboard
                .col-md-5
                  form(action='#' id="location-form")
                    .input-group
                      input.form-control.search-input.text-white(type='text',id="location-input" placeholder='Search Stock . . .')
                      button.btn.btn-info(type='submit')
                        i.fas.fa-search.text-danger.search-button
                .col-md-3
                  ul.navbar-nav
                    ul.nav-item.ml-md-auto.icon-parent
                      a.nav-link.icon-bullet.text-white(href='logout')
                        i.fas.fa-sign-out-alt.text-muted.fa-lg
                        | Logout


    section
      .container-fluid
        .row
          .col-lg-9.col-md-8.ml-auto
            .row.pt-5.mt-3.mb-5
              .col-lg-1
              .col-sm-12.col-md-12.col-lg-10.pd-2
                .card
                  .card-body
                    i.fas.fa-chart-bar.fa-2x.text-info.mb-3  Stock Information (stock API to follow)
                    #geometry
                    .text-left.text-secondary
                      p#formatted-address
                      p#address-components
              .col-lg-1

          //- .col-lg-9.col-md-8.ml-auto
          //-   .row.pt-5.mt-3.mb-5
          //-     .col-lg-1
          //-     .col-sm-12.col-md-12.col-lg-10.pd-2
          //-       .card
          //-         .card-body
          //-           .text-left.text-secondary
          //-             h4.text-success Air Quality In the area (Not Live yet)
          //-             p
          //-               strong BRIEF EXPLANATION ON A TOOLTIP?
          //-             h6  AQI:29
          //-             h6 aqiInfo:"{"category": "Good", "pollutant": "PM2.5", "concentration": 6}"
          //-             h6 updatedAt:"2020-03-25T16:05:28.000Z"
          //-             h6 countryCode:"CA"
          //-             h6 placeName:"Downtown Toronto (Rosedale)"
          //-             h6 postalCode:"M4W"
          //-             h6 state:"Ontario"
          //-             h6 city:"Ontario ON"
          //-             h6 division:"Toronto"
          //-             h6 lat:43.6827
          //-             h6 lng:-79.373
          //-             h6
          //-               strong OVERALL QUALITY
          //-             .progress
          //-               .progress-bar.bg-success(role='progressbar', style='width: 75%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
          //-     .col-lg-1

          //- .col-lg-9.col-md-8.ml-auto
          //-   .row.pt-5.mt-3.mb-5
          //-     .col-lg-1
          //-     .col-sm-12.col-md-12.col-lg-10.pd-2
          //-       .card
          //-         .card-body
          //-           .text-left.text-secondary
          //-             h4.text-success Crime Rate and Numbers (Not Live yet)
          //-             p
          //-               strong BRIEF EXPLANATION ON A TOOLTIP?
          //-             h6 updatedAt:"2020-03-25T16:05:28.000Z"
          //-             h6 countryCode:"CA"
          //-             h6 postalCode:"M4W"
          //-             h6 state:"Ontario"
          //-             h6 city:"Ontario ON"
          //-             h6 division:"Toronto"
          //-             h6 lat:43.6827
          //-             h6 lng:-79.373
          //-             h6
          //-               strong OVERALL SAFETY
          //-             .progress
          //-               .progress-bar.bg-warning(role='progressbar', style='width: 33%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
          //-     .col-lg-1
      script(src='https://unpkg.com/axios/dist/axios.min.js')
    script.
      // geocode();
      // GET LOCATION FORM
      var locationForm = document.getElementById('location-form');
      // listen for submit
      locationForm.addEventListener('submit', geocode)
      function geocode(e){
      // prevent actual submit
      e.preventDefault();
      let location = document.getElementById('location-input').value;
      // let location = '70 bradstone sq scarborough';
      axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
      params:{
      address: location,
      key: 'AIzaSyCFpf4F_1DzzQmZrf3xsNggEibIQixO0k8'
      }
      })
      .then(function(response){
      // log full response
      console.log(response);
      // formatted address
      let formattedAddress = response.data.results[0].formatted_address;
      let formattedAddressOutput = `
      <ul>
      <li>${formattedAddress}</li>
      </ul>
      `;
      // ADDRESS COMPONENTS
      let addressComponents = response.data.results[0].address_components;
      let addressComponentsOutput = '<ul>';
      for(let i = 0; i < addressComponents.length; i++){
      addressComponentsOutput += `
      <li>${addressComponents[i].types[0]} :  ${addressComponents[i].long_name}</li>
      `;
      }
      addressComponentsOutput += '</ul>'
      // Geometry
      let lat = response.data.results[0].geometry.location.lat;
      let lng = response.data.results[0].geometry.location.lng;
      let geometryOutput = `
      <ul>
      <li><strong>Latitude: </strong>${lat}</li>
      <li><strong>Longitude: </strong>${lng}</li>
      </ul>
      `;
      // OUTPUT TO APP
      document.getElementById('formatted-address').innerHTML = formattedAddressOutput;
      document.getElementById('address-components').innerHTML = addressComponentsOutput;
      document.getElementById('geometry').innerHTML = geometryOutput;
      })
      .catch(function(error){
      console.log(error);
      })
      }
            
          // endOdTopNav
          // Traversy Google Geocode API & JavaScript Tutorial - for getting lat-long
          // END OF MODAL
          // JQUERY CDN
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=', crossorigin='anonymous')
